# Solidified Notebook for the Dayside Data
## Project: Magneto
Description: Collecting the dayside data into one notebook for straightforward reading and evalutions
> Author: Arnav Singh

In [2]:
import os
from datetime import datetime
import pandas as pd

# Define folder paths
folder_paths = ["dayside"]

# Function to convert date columns to datetime
def convert_to_datetime(df, year):
    date_columns = ['EQB_Date', 'SUB_Date', 'OCB_Date']
    for col in date_columns:
        df[col] = pd.to_timedelta(df[col], unit='s') + pd.Timestamp(year)
    return df

# List to accumulate DataFrames
all_dataframes = []

for folder_path in folder_paths:
    files = os.listdir(folder_path)
    
    for file_name in files:
        if file_name.startswith("d_") and file_name.endswith(".txt"):
            year_str = file_name.split("_")[1].split(".")[0]
            
            if year_str.isdigit():
                year = datetime(int(year_str), 1, 1)
                
                # Read the file using whitespace as a delimiter
                file_path = os.path.join(folder_path, file_name)
                dayside_df = pd.read_csv(
                    file_path,  # Correct file path usage
                    delim_whitespace=True,  # Use any whitespace as a delimiter
                    low_memory=False,
                    names=['EQB_Date', 'EQB_glat', 'EQB_glon', 'EQB_mlat', 'EQB_mlon', 'EQB_mlt', 'sc1', 
                        'SUB_Date', 'SUB_glat', 'SUB_glon', 'SUB_mlat', 'SUB_mlon', 'SUB_mlt', 'sc2',
                        'OCB_Date', 'OCB_glat', 'OCB_glon', 'OCB_mlat', 'OCB_mlon', 'OCB_mlt', 'sc3'
                    ]
                )

                # Convert the date columns to datetime
                dayside_df = convert_to_datetime(dayside_df, year)

                # Append the DataFrame to the list
                all_dataframes.append(dayside_df)

# Concatenate all DataFrames into a single DataFrame
combined_dayside_df = pd.concat(all_dataframes, ignore_index=True)

combined_dayside_df.sort_values(by = 'EQB_Date', inplace = True)
combined_dayside_df.describe()

,EQB_Date,EQB_glat,EQB_glon,EQB_mlat,EQB_mlon,EQB_mlt,sc1,SUB_Date,SUB_glat,SUB_glon,...,SUB_mlon,SUB_mlt,sc2,OCB_Date,OCB_glat,OCB_glon,OCB_mlat,OCB_mlon,OCB_mlt,sc3
count,631219,631219.000000,631219.000000,631219.000000,631219.000000,631219.000000,631219.000000,631219,631219.000000,631219.000000,...,631219.000000,631219.000000,631219.000000,631219,631219.000000,631219.000000,631219.000000,631219.000000,631219.000000,631219.000000
mean,2000-09-22 06:25:29.615132288,5.745049,118.062761,5.224109,-8.692862,7.560731,12.902218,2000-10-03 20:16:05.524951040,4.716075,125.773612,...,-6.872803,8.438406,12.902218,2000-10-31 11:45:18.831916928,5.003322,158.737878,4.075263,-4.473903,10.377233,12.902218
min,1982-12-31 23:59:59,-81.450000,0.000000,-87.920000,-180.000000,0.000000,6.000000,1982-12-31 23:59:59,-81.520000,0.000000,...,-180.000000,0.000000,6.000000,1982-12-31 23:59:59,-81.520000,0.000000,-89.830000,-180.000000,0.000000,6.000000
25%,1994-12-31 23:59:59,-51.580000,0.000000,-62.070000,-66.350000,0.000000,11.000000,1994-12-31 23:59:59,-60.300000,0.000000,...,-68.910000,0.000000,11.000000,1995-01-05 20:57:25,-71.840000,77.660000,-77.170000,-81.540000,6.460000,11.000000
50%,2001-12-31 23:59:59,0.000000,106.730000,0.000000,0.000000,7.160000,13.000000,2001-12-31 23:59:59,0.000000,123.520000,...,0.000000,7.910000,13.000000,2001-12-31 23:59:59,0.000000,163.320000,0.000000,0.000000,9.650000,13.000000
75%,2006-12-31 23:59:59,62.030000,210.640000,65.060000,30.130000,10.420000,15.000000,2007-02-04 22:26:03.500000,68.530000,210.370000,...,50.440000,13.600000,15.000000,2007-04-09 23:05:38,76.220000,232.540000,77.430000,69.380000,15.960000,15.000000
max,2012-12-31 23:27:06,81.520000,360.000000,87.380000,180.000000,23.910000,18.000000,2012-12-31 23:24:08,81.520000,360.000000,...,180.000000,23.910000,18.000000,2012-12-31 23:22:24,81.520000,360.000000,89.900000,180.000000,23.970000,18.000000
std,NaN,52.681822,111.279379,54.521206,86.603911,6.592322,3.204782,NaN,60.011571,108.036961,...,88.407731,6.500874,3.204782,NaN,70.502675,101.655735,73.572601,92.370944,5.757561,3.204782

There are more data points in this file than in the Nightside files! Amazing.